* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --pinkClr: #ff40ff;
  --amberClr: #7c2d12;
  --bgClr: #f1f5f9;
  --bgClrnav: #30165e;
}

body {
  display: flex;
  background-color: var(--bgClr);
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}
nav,
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 40px 15px;
  max-width: 1000px;
}
nav {
  background-color: var(--bgClrnav);
  color: white;
  justify-content: space-between;
  height: 100vh;
}
.part_two {
  padding-bottom: 125px;
}
.divider_ {
  width: 100%;
  height: 1px;
  background-color: white;
}
.logo {
  /* border: 1px solid red; */
  margin: auto;
}
.logo,
.item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 9px;
  padding: 10px 0px;
  text-align: center;
}
.item {
  margin: 15px auto;
}
/* i {
  margin: auto;
} */

.logo_name {
  display: none;
  color: var(--pinkClr);
  font-size: 15px;
}
.logo_span {
  color: var(--amberClr);
}
/* .fa-magnifying-glass {
  width: 5px;
  height: 5px;
} */
.search {
  /* border: 0.5px solid gray; */
  padding: 5px;
  border-radius: 3px;
  margin: 35px 0px 20px;
}
.btn_submit {
  border: none;
  background-color: inherit;
  color: white;
}
input {
  display: none;
  border: none;
  background-color: inherit;
}
input::placeholder {
  font-size: 13px;
}
h4 {
  display: none;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
}

/* main */

main {
  background-color: var(--bgClr);
  width: 100%;
}
/* 
@media (min-width: 400px) {
  nav,
  main {
    height: 100vh;
    padding: 40px 15px;
  }
  nav {
    background-color: var(--pinkClr);
    color: white;
  }
  main {
    background-color: red;
  }
} */
@media (min-width: 500px) {
  /* medium */
  nav,
  main {
    height: 100vh;
    padding: 40px 15px;
  }
  nav {
    background-color: purple;
    color: white;
  }
  main {
    background-color: white;
  }
}

@media (min-width: 768px) {
  /* medium */
  nav,
  main {
    height: 100vh;
  }
  nav {
    background-color: blue;
    color: white;
  }
  main {
    background-color: red;
  }
 
  .item {
    display: flex;
    gap: 1em;
  }

  i {
    margin: auto;
  }

  .logo_name {
    display: inline-block;
    color: var(--pinkClr);
    font-size: 15px;
  }
 
  /* .fa-magnifying-glass {
  width: 5px;
  height: 5px;
} */
  .search {
    display: flex;
    border: 0.5px solid gray;
    padding: 10px;
    border-radius: 3px;
    margin: 35px 0px 20px;
    gap: 10px;
  }
  
  input {
    display: inline-block;
    border: none;
    background-color: inherit;
  }
  input::placeholder {
    font-size: 13px;
  }
  h4 {
    display: inline-block;
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
  }
}
@media (min-width: 1024px) {
  /* large */
  nav,
  main {
    height: 100vh;
  }
  nav {
    background-color: orange;
    color: white;
  }
  main {
    background-color: white;
  }
}
@media (min-width: 1280px) {
  /* extra large */
  nav,
  main {
    height: 100vh;
  }
  nav {
    background-color: var(--bgClrnav);
    color: white;
  }
  main {
    background-color: black;
  }
}
